$c-border: rgba(#c2c2c2, 0.5);
$c-grey: #8D8D8F;
$c-grey-dark: #606266;
$c-grey-light: #C3C7C5;
$c-button-grey: #f0f2f1;
$c-bg-grey: #f0f0f0;
$c-black: #000;
$c-orange: #f58700;

$c-risk-high: #ff8f7d;
$c-risk-mid-high: #ffb670;
$c-risk-mid: #ffe674;
$c-risk-low: #bfe485;

$c-brand-a: #149739;
$c-brand-a-grad: linear-gradient(90deg, #3EB34C, #39AD60);
$c-brand-b-grad: linear-gradient(90deg, #9FC441, #92C240);
$c-main-green: #006950;

$c-map-base: rgba(185,216,181,1);
$c-map-available: rgba(255,141,0,0.5);
$c-map-selected: rgba(235,130,0,1);
$c-map-hover: rgba(235,130,0,1);
