:root {
    --primary: rgba(0, 105, 80, 1);
    --primary-dark: rgba(0, 74, 42, 1);
    --primary-70: rgba(0, 105, 80, 0.7);
    --primary-50: rgba(0, 105, 80, 0.5);
    --primary-30: rgba(0, 105, 80, 0.3);
    --primary-10: rgba(0, 105, 80, 0.1);
    --logo: #004A2A;
    --sidebar-icon: #F58700;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(0, 105, 80, 1)),
        to(rgba(0, 105, 80, 1))
    );

    background-image: linear-gradient(
        0deg,
        rgba(0, 105, 80, 1),
        rgba(0, 105, 80, 1)
    );
}
